div img {
    width: 100px;
    height: 100px;
}

body, html {
    height: 100%;
}

.parallax {
    /* The image used */
    background-image: url("img/1max-ostrozhinskiy-212676.jpg");

    /* Set a specific height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


div {
    height:100px;
    background-color:grey;
    font-size:36px;
}

.parallax2 {
    /* The image used */
    background-image: url("img/2geran-de-klerk-136351.jpg");

    /* Set a specific height */
    height: 100%; 
    margin-top: 300px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
    /* The image used */
    background-image: url("img/3matt-hoffman-158288.jpg");

    /* Set a specific height */
    height: 100%; 
    margin-top: 300px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


