
body, html {
    height: 100%;   /*REQUIRED!*/
    position: relative;
}

.text-box {
    position: absolute;
    margin-top: 30%;
    width: 100%;
    color: #fff;
    font-family: 'Open Sans Condensed', sans-serif;
}

.title {
    font-size: 7em;
}

.subtext {
    font-size: 1.3em;
    letter-spacing: 0.3em;
}

#fa-chevron-down {
    align-content: center;
    width: 100%;
    margin-top: 10%;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}

#scroll-down {
    align-content: center;
    width: 100%;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    font-family: 'Muli', sans-serif;
    font-size: 1em;
}

.between-text {
    position: relative;
    padding: 10%;
    text-align: left;
    background-color: gray;
    color: #fff;
    height: 400px;
    font-family: 'Muli', sans-serif;
    font-size: 1.05em;
}

.between-text h5 {
    padding-bottom: 20px;
}

.btn {
    align-content: center;
    width: 100%;
    margin-top: 4%;
}

#button {
    background-color: #000;
    color: #fff;
    padding: 20px 40px 20px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
}

/* gets rid of that ugly blue outline: */
#button:focus,#button:active {
   outline: none !important;
   box-shadow: none;
}

.parallax {
    /* Set a specific height */
    height: 140%;   /*the length of the scroll */
    width: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax1 {
    background-image: url("img/piotr-chrobot-276746-unsplash.jpg");
}

.parallax2 {
    background-image: url("img/james-padolsey-152010-unsplash.jpg");
}

.parallax3 {
    background-image: url("img/duy-nguyen-390980-unsplash.jpg");
}

.parallax4 {
    background-image: url("img/piotr-chrobot-276746-unsplash.jpg");
}

footer {
    background-color: #000;
    color: #fff;
    padding: 100px;
    font-size: 1.2em;
}

/* MEDIA QUERIES: */

/* smaller than 320 ? */
/* iPhone 6 PORTRAIT ?*/
@media screen and (max-width: 400px) {

/*    body, html {
    height: 200%;   REQUIRED!
    width: 568px;
    }*/

    .absolute-nav {
        display: none;
    }

    span.logo-space {
        margin-left: 35%;
    }

    .text-box {
        margin-top: 70%;  /*if the images are this long*/
    }

    .title {
/*        font-size: 7em;*/
    }

    .subtext {
/*        font-size: 1.3em;
        letter-spacing: 0.3em;*/
    }

/*    .parallax1 {
        height: 1300px; 
        width: 100%;
    }
    .parallax2 {
        height: 1300px;
        width: 100%;
    }
    .parallax3 {
        height: 1300px;
        width: 100%;
    }
    .parallax4 {
        height: 1300px;
        width: 100%;
    }*/

    .between-text {
        padding-top: 12%; 
        height: 900px;
        font-size: 1.8em;
    }

    .between-text h5 {
       font-size: 1.5em;
    }


    .smaller-text-field {
        height: 700px;
    }

    .btn {
        margin-top: 7%;
    }

    #button {
        padding: 30px 50px 30px 50px;
    }

    #menuToggle {
     /* menu position:*/
      top: 100px;
      left: 100px;
    }

    #menu a li {
      padding: 20px 40px 20px 0;
      width: 200px;
      font-size: 2.2em;
      text-align: center;
      border-bottom: 0.5px gray solid;
    }

    /*need to fix this scroll down arrow*/
    #fa-chevron-down {
        margin-left: 0;
        margin-top: 25%;
        display: none;
    }

    footer {
        font-size: 2em;
    }


}

    /* fix for the ipad */
@media (min-device-width : 768px) and (max-device-width : 1024px)  { 
    .parallax {
        background-attachment: scroll;
        /* default height landscape*/
        height: 768px;

        width: 1024px;
    }
    body, html {
    height: 200%;   /*REQUIRED!*/
    width: 1024px;
    }
}
/* fix for the ipad */
@media (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: portrait) {
    .parallax {
        /* default height landscape*/
        height: 1024px;

        width: 768px;
    }
    body, html {
    height: 200%;   /*REQUIRED!*/
    width: 768px;
    }
} 

/* fix for the iphone */
@media (min-device-width : 320px) and (max-device-width : 568px)  { 
    .parallax {
/*        background-attachment: scroll;*/

 /*   background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;*/

        /* default height landscape*/
        height: 620px; /*should be 320px*/

        width: 568px;
    }
    body, html {
    height: 200%;   /*REQUIRED!*/
    width: 568px;
    }
}
/* fix for the iphone */
@media (min-device-width : 320px) and (max-device-width : 568px) and (orientation: portrait) {
    .parallax {
        /* default height landscape*/
        height: 1568px; /*should be 568px*/

        width: 568px;
    }
    body, html {
    height: 200%;   /*REQUIRED!*/
    width: 568px;
    }
} 


nav {
height: 0;  /*erased the white space at the top
/*border: solid;*/
}

.logo-space {
    position: absolute;
    width: 30%;
    margin-left: 7%;
    margin-right: 0;
    margin-top: 4%;

    color: #fff;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2em;
    letter-spacing: 0.1em;

    padding: 20px;
    text-align: center;
/*    border: red solid;*/
}

.absolute-nav {
    position: absolute;
    width: 57%;
    margin-left: 38%;
    margin-right: 20%;
    margin-top: 4%;

    color: #fff;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1em;
    letter-spacing: 0.1em;

    padding: 20px;
    justify-content: right;
/*     border: #fff solid;*/
}

.item {
    width: 100px;
    margin-left: 4%;
/*    border: #fff solid;*/
}

a:hover {
    opacity: 0.7;
    cursor: pointer;
}




/* BURGER MENU */

#menu a {   /* now worked when added #menu */
  text-decoration: none;
  color: #fff !important;
  transition: color 0.3s ease;
}

#menuToggle {
  display: block;
  position: relative;
 /* menu position:*/
  top: 50px;
  left: 50px;
 /* this goes on the digital and the image */
  z-index: 1;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd; /*this is the burger menu color */
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* Transform all the slices of hamburger into a crossmark */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #cdcdcd;  /* cross color */
}

/* But let's hide the middle one */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/* And the last one should go the other direction */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/* Make this absolute positioned at the top left of the screen */
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
/*    margin: -100px 0 0 500px; */ /* making in to the right side? */

  padding: 50px;
  padding-top: 125px;
  
  background-color: #000;

  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
  padding: 20px 0;
  font-size: 22px;
  text-align: center;
  border-bottom: 0.5px gray solid;
}

/* And let's slide it in from the left */
#menuToggle input:checked ~ ul {
  transform: none;
}

/* END OF BURGER MENU */





